<footer class="bolder-top footer text-muted">
    <div class="container">
        &copy; All Rights Reserved
    </div>
</footer>


@code{
    [CascadingParameter]
    public string Copyright { get; set; } = "Copyright";
}
