@using BlazorServer.Authentication
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthProvider


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <span class="oi oi-basket"></span>
        </a>
        <button class="navbar-toggler" 
        @onclick="ToggleNavMenu"
        type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavMenuCssClass"
             @onclick="ToggleNavMenu"
             id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> Home </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="booklist"> Books </NavLink>
                </li>
                <AuthorizeView Roles="Administrator">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="create">
                                Create
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <li class="nav-item">
                    <NavLink class="nav-link" href="filemanager"> FileUpload </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="privacy"> Privacy </NavLink>
                </li>
                <AuthorizeView>
                    <NotAuthorized>
                        <li class="nav-item">
                            <a class="nav-link" href="login"> Login </a>
                        </li>
                    </NotAuthorized>
                    <Authorized>
                        <li class="nav-item">
                            <a @onclick="Logout"
                               class="nav-link" href="javascript:void(0)"> Logout </a>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>


@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "show" : null;     // show 是要查詢 bootstrap 的函式庫

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        var p = (MyAuthenticationStateProvider)AuthProvider;
        await p.UpdateState(null!);
        NavigationManager.NavigateTo("./", true);
    }
}



@*
     Match="NavLinkMatch.All": 代表選到的項目會變黑色文字
    href="Privacy" 就是導向 Privacy.razor
*@