<Error>
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                    <NotAuthorized>
                        You are not authorized!!
                    </NotAuthorized>
                    <Authorizing>
                        Authorizing...Please wait!!!
                    </Authorizing>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                 <LayoutView Layout="@typeof(MainLayout)">
                    <PageTitle>Not Found</PageTitle>
                    <p role="alert">Sorry, there's nothing at this address.</p>
                    <h1>Error</h1>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</Error>




@* Note
    自創的文件，檔案名稱不能隨意改

    設定載入指定的 layout: DefaultLayout... 與 LayoutView Layout...
    或者在
    _Imports.razer 宣告 @layout ....
*@

@*

*@
