@page "/"
@namespace BlazerServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BlazorServer;
@using Microsoft.AspNetCore.Components.Web


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--title> Books </title-->
    <base href="~/" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="BlazorServer.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>



<!-- Note
建立 ASPNET Empty 專案。
Pages 資料夾是自己建立的，
_Host.cshtml 也是自創的，所以內容全部是自己加上的
    page "/": 根目錄
    namespace BlazerServer.Pages: 指向專案 BlazerServer/Pages

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />: 控制網頁分頁的顯示文字

-->