@page "/Privacy"
@inject IToastService ToastService

<PageTitle>Privacy</PageTitle>
<h3>Privacy</h3>

<p>This is Privacy Page</p>




@code {
    [CascadingParameter]
    public Error? Error { get; set; }

    protected override void OnInitialized()
    {
        try
        {
            Console.WriteLine("OnInitialized");
            throw new Exception("ExceptionError");
        }
        catch(Exception ex)
        {
            Error?.ProcessError(ex);
            ToastService.ShowError($"發生錯誤! 請洽管理員! {ex.Message}");
        }
    }

    protected override Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync");
        return base.OnInitializedAsync();
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine("OnParametersSet");
    }

    protected override Task OnParametersSetAsync()
    {
        Console.WriteLine("OnParametersSetAsync");
        return base.OnParametersSetAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("OnAfterRender");
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine("OnAfterRenderAsync");
        return base.OnAfterRenderAsync(firstRender);
    }
}
